[user]
  name = François Freitag
  email = mail+github@franek.fr

[color]
  ui = auto

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  pr = pull --rebase
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  latest=for-each-ref --sort=-taggerdate --format='%(refname:short)' --count=1
  ctags = !.git/hooks/ctags

[commit]
  message = ~/.git_templates/commit_message.txt
  template = ~/.git_templates/commit_message.txt

[core]
	excludesfile = ~/.gitignore_global

[diff]
  tool = nvim -d

[mergetool]
  path = nvim

[init]
  templatedir = ~/.git_templates

[credential]
  helper = /usr/lib/git-core/git-credential-gnome-keyring

[push]
  default = current

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[merge]
	tool = fugitive

[stash]
	showPatch = true

[rebase]
	autoSquash = true
