---
- name: Create Hyprland config directory
  file:
    path: "~/{{ item }}"
    state: directory
  loop:
    - .config
    - .config/hypr

- name: Configure greetd
  become: yes
  copy:
    src: greetd.toml
    dest: /etc/greetd/config.toml
    mode: 0600

- name: Enable greetd
  become: yes
  systemd_service:
    name: greetd
    enabled: yes

- name: Create uwsm configuration directory
  file:
    path: ~/.config/uwsm/
    state: directory

- name: Configure uwsm environment
  file:
    src: "{{ role_path }}/files/env"
    dest: ~/.config/uwsm/env
    state: link

- name: Configure Hyprland
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "~/.config/hypr/{{ item }}"
    state: link
  loop:
    - hypridle.conf
    - hyprland.conf
    - hyprlock.conf
    - hyprpaper.conf
    - hyprsunset.conf

- name: Enable hyprland services
  systemd_service:
    name: "{{ item }}"
    scope: user
    enabled: yes
    state: started
  loop:
    - hyprpaper.service
    - hyprpolkitagent.service
