---
- name: Create an empty .zshrc
  file:
    path: ~/.zshrc
    state: touch

- name: Install zsh configuration files
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "~/{{ item }}"
    state: link
  loop:
    - .zshrc.local
    - .zshrc.fzf
    - .zshrc.syntax-highlighting-catppuccin
