[advice]
	skippedCherryPicks = false
	diverging = false

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick
	df = diff
	ds = diff --staged
	dlog = -c diff.external='difft --display=inline' log --ext-diff
	dshow = -c diff.external='difft --display=inline' show --ext-diff
	ddiff = -c diff.external='difft --display=inline' diff
	pr = pull --rebase
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	latest = for-each-ref --sort=-taggerdate --format='%(refname:short)' --count=1
	rb = rebase
	rev = "!sh -c \"git log -p ${1:-beta}..HEAD --reverse\""
	rt = restore
	sw = switch
	ctags = !.git/hooks/ctags
	pf = push --force-with-lease --force-if-includes
	fixup = "!git log --oneline --no-decorate --no-merges | fzf -0 --no-multi --preview 'git show --color=always --format=oneline {1}' | awk '{print $1}' | xargs -r git commit --fixup"

; [blame]
	; ignoreRevsFile = .git-blame-ignore-revs

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[delta]
	keep-plus-minus-markers = true
	max-line-length = 65535
	navigate = true  # Use n and N to move between diff sections.

[diff]
	colorMoved = default
	tool = nvimdiff

[init]
	templatedir = ~/.git_templates

[interactive]
	diffFilter = delta --color-only --features=interactive

[merge]
	tool = vimdiff
	conflictstyle = zdiff3

[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pull]
	ff = only

[push]
	default = current
	useForceIfIncludes = true

[rebase]
	autoSquash = true
	updateRefs = true

[stash]
	showPatch = true

[user]
	name = François Freitag
	email = mail@franek.fr
